body {
    font-family: 'Open Sans', sans-serif;
    color: #263238;
}
.header-wrapper {
    background: url("../img/od.png");
    background-size: cover;
}
.header {
    background: rgba(255,255,255,0.7);
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.header h1 {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    margin: 0 0 70px;
}
.header p {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 0 70px;
    color: #424242;
}
.header .custom-btn-header {
    border: 1px solid #2196F3;
    border-radius: 50px;
    padding: 10px 30px;
    color: #2196F3;
}
.header .custom-btn-header:hover {
    background: #2196F3;
    color: #FFF;
}
