<!DOCTYPE html>
{%load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Defend of the Ancients</title>

    <!-- IMPORT FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css\kurir.css' %}">
  <link rel="stylesheet" href="{% static 'css\linearis.css' %}">
</head>

<body>
  <!-- DISINI BELAJAR BUAT HEADER -->
  <div class="header-wrapper">
    <div class="header">
      <div class="container">
        <div class="title">
          <h1>HELP & ABOUT</h1>
        </div>
        <p class="description">
        This is a simple article about DOTA2 Lanes for our last project in Intrepeter Programming.</p>
        Created by:</p>
        Rifki Aflaza Arba    1617051010<br>
        Aulia Ridho Verdikha 1617051041<br>
        M Yunan Adiyaksatama 1617051123<br>
      </div>
    </div>
  </div>
