<!DOCTYPE html>
{%load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Defend of the Ancients</title>

    <!-- IMPORT FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css\midlane.css' %}">
  <link rel="stylesheet" href="{% static 'css\linearis.css' %}">
</head>

<body>
  <!-- DISINI BELAJAR BUAT HEADER -->
  <div class="header-wrapper">
    <div class="header">
      <div class="container">
        <div class="title">
          <h1>MIDLANE</h1>
        </div>
        <p class="description">
        The mid lane is traditionally a solo lane. It involves a high degree of skill, usually involving a team's best player. The mid laner must contest last hits and denies to control the flow of gold and exp in their favor. This has the benefit of controlling the power of the enemy mid laner, while also bolstering your own strength. The player who "wins" the mid lane essentially is able to gank the side lanes successfully as well as push down the enemy's mid lane tower, gaining map control for his entire team. Much play in the mid lane also revolves around rune control and avoiding smoke ganks.</p>
      </div>
    </div>
  </div>
