<!DOCTYPE html>
{%load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Defend of the Ancients</title>

    <!-- IMPORT FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css\safelane.css' %}">
  <link rel="stylesheet" href="{% static 'css\linearis.css' %}">
</head>

<body>
  <!-- DISINI BELAJAR BUAT HEADER -->
  <div class="header-wrapper">
    <div class="header">
      <div class="container">
        <div class="title">
          <h1>SAFELANE</h1>
        </div>
        <p class="description">
          The safe lane (also referred to as easy lane or short lane) is the lane where the Tier 1 Tower is farthest from the Ancient and closest to the creep line. For Radiant, this is the bottom lane. For Dire, this is the top lane. The lane is named as such since it is easiest for a laning hero to retreat to the protection of their tower, and because it is difficult for enemies to sneak through the jungle and gank the laning hero. Also, because this lane is close to the jungle, it is the easiest lane to use creep pulling to control the location of the creep line.</p>
      </div>
    </div>
  </div>
